
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    
}


.header-container-logo{
    align-self: flex-start;
}
.header-container-logo__logo{
    width: 118.3px;
    height: 72.1px;
}

.header-container__menu-burguer{
    display: grid;
    gap: 7px;
    cursor: pointer;
}
@media (min-width: 678px) {
    .header-container__menu-burguer {
      display: none;
    }
}

  
    .header-container__menu-burguer__rayaContainer{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;  
    }
        .header-container__menu-burguer__rayaContainer--raya{
            width: 40px;
            height: 8px;
            background-color: white;
            
        }
.header-container__menuNav{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: black;
    height: 667px;
    
}

@media (min-width: 678px){
    .header-container__menuNav{
        display: flex;
        position: relative;
        justify-content: space-between;
        flex-grow: 1;
        background-color: transparent;
        height: min-content;
    }
}

    .header-container__menuNav__closeContainer{
        padding: 10px 30px;
        cursor: pointer;
        text-align: right;
    }
    @media (min-width: 678px){
        .header-container__menuNav__closeContainer{
            display: none;
        }
    }


    .header-container__menuNav__linksContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        
    }
    @media (min-width: 678px){
        .header-container__menuNav__linksContainer{
            flex-direction: row;
            justify-content: flex-end;
            
        }
    }
        .header-container__menuNav__linksContainer--link-nav{
            color: white;
            text-align: center;
            font-family: "Montserrat";
            font-size: 48px;
            font-weight: 700;
            text-decoration: none;
            
        }
        @media (min-width: 678px){
            .header-container__menuNav__linksContainer--link-nav{
            font-family: "Poppins";
            font-size: 24px;
            font-weight: 400;
            padding: 0px 20px;
            }
        }